<div class ="container">
  <div class="jumbotron">
<form #f="ngForm" (ngSubmit) ="onSubmit(f)">
    <div class="form-group">
      <label for="name"> Name </label>
      <input type="text" id="name" name="name" ngModel  #userName ="ngModel" required pattern="[a-zA-Z][a-zA-Z]+">
    </div>
    <div *ngIf="userName?.touched" class="alert alert-danger">
      <div *ngIf= "userName.errors?.required">
      Name is required
      </div>
      <div *ngIf= "userName.errors?.pattern">
          pattern is invalid
          </div>
    </div>
    <div class="form-group">
      <label for="email"> email </label>
      <input type="text" id="email" name="email" ngModel required pattern="[a-zA-Z][a-zA-Z]+">
    </div>
    <div class="form-group"> 
      <label for="pass">Password </label>
      <input type="password" id="pass" name="pass" ngModel required maxlength="10"  pattern="[0-9]+">
    </div>
    <button type="submit" name="button" class="btn btn-success" [disabled]="f.invalid">Submit</button>
  </form>
</div>
</div>
  {{f.value | json}}